h1{
    color: #000; 
    align-items: center;
}
body {
    height: 100%;
}


body {
    margin: 0;
    background: linear-gradient(to bottom, #7b798f, #4f4f66);
    font-family: sans-serif;
    font-weight: 100;
    align-items: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #000; 
}

th {
    text-align: left;
}


th {
    background-color: #7180c5;
}


tr:hover {
    background-color: rgba(255, 255, 255, 0.712);
    }

td:hover:before {
        position: relative;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
}
